certifi
cycler
kiwisolver
numpy
Pillow
pygame
pygame-menu
pyparsing
pyperclip
python-dateutil
six
gymnasium
stable-baselines3[extra]
torch
torchvision
setuptools
huggingface-hub
pandas
redis
python-dotenv
zstandard
wandb
datasets